<ion-header>
    <ion-navbar>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons end>
            <div style='display: flex;'>
                <div>
                    <ion-icon ios="ios-star-outline" md="md-star" class="sc" (click)="collection()"></ion-icon>
                </div>
                <div>
                    <ion-icon ios="ios-heart-outline" class="sc" (click)="collection()"></ion-icon>
                </div>
            </div>
        </ion-buttons>
    </ion-navbar>
</ion-header>
