nt-header {
  .back{
     font-size: 28px;
     padding: 10px 8px 5px 8px;
    color:#b1b1b1
  }
  .sc{
    font-size: 24px;
    color:#b1b1b1;
    margin-right: 8px;
  }
  .fx{
    font-size: 24px;
    color:#b1b1b1;
    margin-right: 8px;
  }
  .back-button-icon-ios{
    color:#b1b1b1;
    font-size: 28px;
  }
}
