page-topic {
    .bannerWrap {
        height: 30%;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    ion-tabs {
        height: 70%;
        top: 30%;
    }
    .tabs-md .tabbar {
        background: #fff;
    }
    .tabs-md .tab-button[aria-selected=true] {
        color: #A3A3A3;
        border-bottom: 2px solid #CACACA;
    }
    .back-button {
        display: block!important;
    }
}
