<!-- <nt-header [title]="info.title"></nt-header> -->
<ion-header>
    <ion-navbar>
        <ion-title>
            {{title}}
        </ion-title>
        <!-- <ion-buttons end>
            <button ion-button clear (click)="saveDraft()">
                存草稿
            </button>
        </ion-buttons> -->
        <ion-buttons end style="margin-right: 10px;">
            <button ion-button clear (click)="collection()">
                <ion-icon name="star" class="star1" *ngIf="hasCollected"></ion-icon>
                <ion-icon name="star-outline" class="star" *ngIf="!hasCollected"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end style="margin-right:15px;">
            <button ion-button clear (click)="like()">
                <ion-icon name="heart-outline" class="sc" *ngIf="!hasZan"></ion-icon>
                <ion-icon name="heart" class="sc1" *ngIf="hasZan"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div>
        <img style="width:100%;" [src]="info.imgurl">
    </div>
    <div class="acticle-scroll">
        <p class="scroll-text" [innerHTML]="info.text | safeHtml">
    </div>
    <div class="acticle-reply">
        <div *ngFor="let item of user" style="padding-top:10px;padding-bottom:10px;border-bottom:1px solid #DEDEDE;">
            <div class="reply-user">
                <div class="reply-head">
                    <div class="reply-head-img">
                        <img src="{{item.userImg}}" (click)="goMe(item.userId)">
                    </div>
                    <div class="reply-info">
                        <div (click)="goMe(item.userId)">{{item.userName}}</div>
                        <!-- <div class='reply-pp' [ngStyle]="{'background-color':item.sex === 0 ? '#ff3399' : '#488aff' }">{{item.pp}}匹配</div> -->
                    </div>
                </div>
                <div>
                    <span class="reply-text">
                    <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" style="color:#FF1A36;" *ngIf="item.commentZan"></ion-icon>
                    <ion-icon ios="ios-thumbs-up-outline" md="ios-thumbs-up-outline" (click)="commentZan(item.id)" *ngIf="!item.commentZan"></ion-icon>&nbsp;{{item.zan}}&nbsp;&nbsp;</span>
                    <!-- <span class="reply-text"><ion-icon ios="ios-thumbs-down-outline" md="ios-thumbs-down-outline"></ion-icon>{{item.fou}}</span> -->
                    <span class="reply-text"><ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>&nbsp;{{item.info}}</span>
                </div>
            </div>
            <div>
                <p (click)="commentDetail(item.id)">{{item.reply}}</p>
                <div class="mainimg">
                    <div *ngFor="let img of item.plimg" class="imgdiv">
                        <img [src]="img">
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
    <div class="article-wrp">
        <div class="article-btn">
            <button ion-button round color="ss-primary" (click)="makeComment()">
                <ion-icon ios="ios-create-outline" md="ios-create-outline"></ion-icon><span>说说我的想法</span>
            </button>
        </div>
    </div>
</ion-content>
