ss-avatar-news-bar {
  div{
    border-bottom: none !important;
  }
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
    position: absolute;
    top: 0;
    right: 0;
  }
  h2{
    text-overflow: inherit;
    max-width: 70%;
    overflow: inherit;
  }
}
