<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="back()">
        <ion-icon name="back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>验证码</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="info" *ngIf="type == 'signup'">
    <div>我们已发生验证码到</div>
    <div>{{phone}}</div>
  </div>
  <ion-item *ngIf="type == 'resetPassword'">
    <ion-label color="primary"><ion-icon name="ios-phone-portrait-outline"></ion-icon></ion-label>
    <ion-input placeholder="请输出手机号" [(ngModel)]="phone"></ion-input>
  </ion-item>
  <div class="inputButton">
    <ion-input [(ngModel)]="verificationCode"></ion-input>
    <button *ngIf="type == 'signup'" (click)="getVerificationCode()" [disabled]="num != 0" [ngClass]="{'active': num==0}">{{num == 0 ? '重新发送' : num}}</button>
    <button *ngIf="type == 'resetPassword'" (click)="getVerificationCode()" [ngClass]="{'active': num==0,'active': num==-1}" [disabled]="num > 0 || phone == ''">{{num == 0 ? '重新发送' : num == -1 ? '发送' : num}}</button>
  </div>
  <ion-item class="password" *ngIf="type == 'resetPassword'">
    <ion-label color="primary"><ion-icon name="ios-unlock-outline"></ion-icon></ion-label>
    <ion-input placeholder="请输出密码" [(ngModel)]="password"></ion-input>
  </ion-item>
  <button ion-button color="danger" round *ngIf="type == 'signup'" (click)="verifyUserSignup()">确认</button>
  <button ion-button color="danger" round *ngIf="type == 'resetPassword'" (click)="reset()">确认</button>
</ion-content>
