<ion-header>
    <ion-navbar>
        <ion-title>全部分类</ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="finishEdit()" style="color: #F29292;font-size: 16px;">
                完成
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <p class="markType">我的分类</p>
    <div class="markWrap" [sortablejs]="myType" [sortablejsOptions]="normalOptions">
        <span class="mark" *ngFor="let item of myType">{{item.name}}</span>
    </div>
    <p class="markType">可选分类</p>
    <div class="markWrap" [sortablejs]="type1" [sortablejsOptions]="normalOptions">
        <span class="mark" *ngFor="let item of type1">{{item.name}}</span>
    </div>
</ion-content>
