page-share-modal {
  ion-header {
    .header-container {
      height: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      background-color: #ff9800;
      &>span {
        position: absolute;
        left: 0;
        width: 50px;
        height: 100%;
        background: url(../assets/img/p2p/delete.svg) no-repeat center;
        background-size: 60%;
      }
    }
  }
  .notTop{
    top:calc(100% - 110px);
  }
  ion-content.notTop{
    height: 110px;
  }
}
