<div class="acticle-reply" style="padding-bottom: 55px;">
    <div *ngFor="let item of commentInfo;index as i;" style="padding-top:10px;padding-bottom:10px;border-bottom:1px solid #DEDEDE;">
        <div class="reply-user">
            <div class="reply-head">
                <div class="reply-head-img">
                    <img src="{{item.avatar}}" (click)="goMe(item.user.id)">
                </div>
                <div class="reply-info">
                    <div (click)="goMe(item.user.id)" class="name">{{item.username}}</div>
                    <p class="time">{{item.updated_at}}</p>
                </div>
                <p class="friend">好友</p>
            </div>
        </div>
        <!-- <div style="position: relative;padding-left: 46px;">
            <p (click)="commentDetail(item.id)" class="replycontent">{{item.reply}}</p>
            <div class="mainimg">
                <ss-comment-attachments *ngIf="item.plimg.length" [attachments]="item.plimg" [bigImage]="true" style="width: 100%;"></ss-comment-attachments>
            </div>
            <div class="commentWrap">
                <img src="assets/img/comment1.png" class="commentImg" (click)="addComment(i,item.id)">
                <img src="assets/img/zan.png" class="zanImg" (click)="commentZan(item.id)" *ngIf="!item.commentZan">
                <img src="assets/img/zan1.png" class="zanImg" *ngIf="item.commentZan">
                <span class="zanNum">{{item.zan}}</span>
            </div>
        </div> -->
        <!-- <div *ngFor="let addzan of item.addZan" style="margin-left:45px;padding-top:10px;border-top:1px solid rgb(236, 234, 234);">
            <div class="reply-user" style="margin-top: 5px;">
                <div class="reply-head">
                    <div class="reply-head-img" style="width: 35px;height: 35px;">
                        <img src="{{addzan.user.avatar}}" (click)="goMe(addzan.user.id)">
                    </div>
                    <div class="reply-info">
                        <div (click)="goMe(addzan.user.id)" class="name">{{addzan.user.username}}</div>
                        <p class="time">{{addzan.time}}</p>
                    </div>
                </div>
            </div>
            <div style="position: relative;">
                <p class="replycontent">{{addzan.content}}</p>
                <div class="mainimg">
                    <div *ngFor="let img of addzan.img" class="imgdiv">
                        <img [src]="img">
                    </div>
                </div>
                <div class="commentWrap">
                    <img src="assets/img/zan1.png" class="zanImg" *ngIf="addzan.commentZan">
                    <img src="assets/img/zan.png" class="zanImg" *ngIf="!addzan.commentZan" (click)="addCommentZan(i,addzan.id)">
                    <span class="zanNum">{{addzan.like_count}}</span>
                </div>
            </div>
        </div>
        <div style="margin-left:45px;border-top:1px solid rgb(236, 234, 234);" *ngIf="item.addZanAction">
            <div style="overflow: hidden;margin-top: 10px;">
                <div class="reply-head-img" style="width: 40px;height: 40px;float: left;">
                    <img src="assets/img/guide1.jpg">
                </div>
                <ion-textarea placeholder="Enter a description" [(ngModel)]="item.addZanContent" style="border: 1px solid rgb(236, 234, 234);border-radius: 3px;float: right;width: 80%;"></ion-textarea>
            </div>
            <div style="overflow: hidden;">
                <p style="font-size: 14px;color: #fff;background-color:#EF7A7A;width: 40px;height: 25px;line-height: 25px;text-align: center;float: right;border-radius: 3px;"
                    (click)="submitAddZan(i,item.id)">发布</p>
            </div>
        </div> -->
    </div>
</div>
