page-getlike {
    .label-ios {
        margin: 0;
    }
    .label-md {
        margin: 0;
    }
    .contentText {
        color: #484848;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }
    .contentName {
        color: rgb(104, 102, 102);
    }
    .contenttip{
        color:  rgb(151, 147, 147);
    }
    .contentTitle {
        color: rgb(121, 118, 118);
        font-size: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 250px;
        display: inline-block;
    }
    .timeText {
        color: #9D9D9D;
        font-size: 12px;
    }
    .heartColor {
        color: #E78170;
    }
}
