<ion-header>
    <ion-navbar>
        <ion-title>日记详情</ion-title>
        <ion-buttons end *ngIf="!hasCollected" (click)="makecollect()">
            <button ion-button icon-only>
                <img src="assets/img/likehome.png" style="width: 28px;margin-right: 10px;">
            </button>
        </ion-buttons>
        <ion-buttons end *ngIf="hasCollected" (click)="cancelcollect()">
            <button ion-button icon-only>
                <img src="assets/img/likehomeselected.png" style="width: 28px;margin-right: 10px;">
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-slides style="height:auto;" pager="true">
        <ion-slide *ngFor="let item of info.image_set">
            <img style='width:100%;' [src]="item.image">
        </ion-slide>
    </ion-slides>
    <div class='record-wrp'>
        <div class='record-comment'>
            <p style="font-size: 12px;color: #F6AFAF;margin:0;margin-top: 5px;margin-bottom: 5px;">日记</p>
            <div style="color: #717171;font-size: 15px;">{{info.title}}</div>
            <div style="overflow: hidden;margin-top:10px;margin-bottom:10px;">
                <div style="width: 35px;height: 35px;border-radius: 50%;float: left;overflow: hidden;" (click)="goMe(info.id)">
                    <img [src]="info.avatar" style="width: 40px;height: 40px;">
                </div>
                <span style="font-size: 13px;color: #9D9D9D;margin-left:10px;display: inline-block;margin-top: 8px;" (click)="goMe(info.id)">{{info.username}}</span>
                <span style="display: inline-block;width: 60px;height: 25px;border:1px solid #F7C2C2;border-radius: 3px;font-size: 13px;color: #E99C9E;text-align: center;line-height: 25px;float: right;margin-top: 5px;" (click)="goAttention()" *ngIf="!isAttention">+ 关注</span>
                <span style="display: inline-block;width: 60px;height: 25px;border:1px solid #E99C9E;border-radius: 3px;font-size: 13px;color: #Ffff;text-align: center;line-height: 25px;float: right;margin-top: 5px;background-color: #E99C9E;" *ngIf="isAttention" (click)="concelAttention()">已关注</span>
            </div>
            <div class='record-article'>
                <p class='acticle-title'>{{info.content}}</p>
            </div>
            <div class='record-wrp-footer'>
                <div>{{info.updated_at}}</div>
                <div class='record-footer-laud'>
                    <div class="record-footer-collection">{{info.collect_count}}次收藏</div>
                    <div>{{info.like_count}}赞</div>
                </div>
            </div>
        </div>
        <detailComment type="diary" [id]="globalId" *ngIf="globalId"></detailComment>
        <div style="height: 55px;width: 100%;"></div>
    </div>
    <div style="overflow: hidden;position: fixed;bottom: 0;left: 0;width: 100%;background-color: #fff;height: 50px;padding-top: 10px;padding-bottom: 10px;border-top: 1px solid #EAEAEA;">
        <div style="float: left;width: 50%;display: inline-block;border-right:1px solid #EAEAEA;height: 30px;line-height: 30px;text-align: center;" (click)="makeComment()">
            <img src="assets/img/comment1.png" style="width: 21px;height: 21px;vertical-align: middle">
            <span style="font-size: 14px;color: #9F9F9F;margin-left: 5px;vertical-align: middle;">评论</span>
        </div>
        <div style="float:right;width: 50%;display: inline-block;line-height: 30px;text-align: center;">
            <img src="assets/img/zan.png" style="width: 21px;height: 21px;vertical-align: middle;" *ngIf="!hasZan" (click)="like()">
            <img src="assets/img/zan1.png" style="width: 21px;height: 21px;vertical-align: middle;" *ngIf="hasZan" (click)="cancelLike()">
            <span style="font-size: 14px;color: #9F9F9F;vertical-align: middle;margin-left: 5px;">赞</span>
        </div>
    </div>
</ion-content>
