<div style="margin-top: 10px;" (click)="goDiaryDetail()">
    <div class="titleWrap" *ngIf="from != 'me'">
        <div class="avatarWrap">
            <img [src]="diaryInfo.avatar" style="width: 40px;height: 40px;">
        </div>
        <span class="name">{{diaryInfo.username}}</span>
        <span class="time">{{diaryInfo.created_at | timeFormat1}}</span>
    </div>
    <div class="contentWrap">
        <p class="title">{{diaryInfo.title}}</p>
        <p class="content">{{diaryInfo.prefetch_content}}</p>
    </div>
    <ss-comment-attachments class="imgsWrap" *ngIf="diaryInfo.image_set.length" [attachments]="diaryInfo.image_set"></ss-comment-attachments>
    <div class="dataWrap">
        <div style="float: left;">
            <img src="assets/img/fire.png" class="fireImg">
            <span class="fireText">{{diaryInfo.score}}</span>
        </div>
        <div style="float: right;">
            <img src="assets/img/likehome.png" class="collectImg">
            <span class="collectText">{{diaryInfo.collect_count}}</span>
        </div>
        <div style="float: right;">
            <img src="assets/img/commenthome.png" class="commentImg">
            <span class="commentText">{{diaryInfo.comment_count}}</span>
        </div>
        <div style="float: right;">
            <img src="assets/img/zanhome.png" class="zanImg">
            <span class="zanText">{{diaryInfo.like_count}}</span>
        </div>
    </div>
</div>
