<ion-content>
    <ion-segment #segments mode="md" [(ngModel)]="page.pageString" style="width: 85%;display: inline-block;vertical-align: middle;">
        <ion-segment-button class="tabText" *ngFor="let item of tabs" value="{{item.tabsValue}}" (click)="selectedTab(item.tabsValue)">
            {{item.tabslabel}}
        </ion-segment-button>
    </ion-segment>
    <img src="assets/img/tabs.png" style="width: 20px;height: 20px;vertical-align: middle;margin-left: 4%;" (click)="goTabSelect()">
    <ion-slides #slider (ionSlideDidChange)="slideChanged()">
        <ion-slide style="display: block;text-align: left;" *ngFor="let items of tabContentCache; index as i">
            <!-- <div class="slide-wrap" [style.height]="slideH">
                <ion-slides pager loop="true">
                    <ion-slide *ngFor="let item of items.slideList" (click)="slideDetail(item.content_type,item.object_id)">
                        <ion-card class="ss-full-card">
                            <img class="image-box" [ngStyle]="{'background-image': 'url(' + item.image + ')'}" />
                            <div class="slide-text card-title" padding-left padding-right>{{item.title}}</div>
                            <div class="slide-text card-subtitle" padding-left padding-right>{{item.subTitle}}</div>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </div> -->
            <div *ngFor="let item of items.feedList">
                <article *ngIf="item.content_type == 'blog'" [articleInfo]="item"></article>
                <diary *ngIf="item.content_type == 'diary'" [diaryInfo]="item"></diary>
                <homevideo *ngIf="item.content_type == 'vlog'" [videoInfo]="item"></homevideo>
            </div>
        </ion-slide>
        <!-- <ion-slide>
            <h1>Tab 2</h1>
        </ion-slide>
        <ion-slide>
            <h1>Tab 3</h1>
        </ion-slide>
        <ion-slide>
            <h1>Tab 4</h1>
        </ion-slide>
        <ion-slide>
            <h1>Tab 5</h1>
        </ion-slide> -->
    </ion-slides>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    <!--日记列表-->
    <!-- <ion-list class="diary-list">
        <div *ngFor="let diary of diaryList">
            <ion-item class="topicItem" *ngIf="diary.content_type == 'topic'" (click)="goTopicDetail(diary.object_id)">
                <div class="image-box" [ngStyle]="{'background-image': 'url(' +  diary.image_set[0] + ')'}">
                    <div class="content">
                        <div>#{{diary.title}}#</div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="slideItem" *ngIf="diary.content_type == 'blog'" (click)="goBlogDetail(diary.object_id)">
                <div class="slideCard">
                    <div class="leftContent">
                        <div class="title">{{diary.title}}</div>
                        <div class="subTitle" [innerHTML]="diary.content"></div>
                    </div>
                    <div class="rightContent">
                        <img [src]="diary.image_set[0]">
                    </div>
                </div>
                <div class="bottomContent">
                    <button ion-button outline>文章</button>
                    <div>{{diary.comment_count}}浏览.{{diary.collect_count}}收藏</div>
                </div>
            </ion-item>
            <div class="diary-item" *ngIf="diary.content_type == 'diary'" (click)="goDiaryDetail(diary.object_id)">
                <ion-card>
                    <ion-item>
                        <ion-avatar item-start>
                            <img [src]="diary?.avatar">
                        </ion-avatar>
                        <div>
                            <span class="userName">{{diary?.username}}</span>
                            <span class="userTime">{{diary?.created_at.substring(5,10)}}</span>
                        </div>
                    </ion-item>
                    <ion-card-content>
                        <h2 style="color: #000;font-weight: 600;padding-left:16px;padding-right:16px;">{{diary?.title}}</h2>
                        <p class="content" style="font-size: 14px!important;color: #484848!important;padding-left:16px;padding-right:16px;">{{diary?.prefetch_content}}</p>
                    </ion-card-content>
                    <ss-comment-attachments *ngIf="diary?.image_set" [attachments]="diary.image_set"></ss-comment-attachments>
                </ion-card>
            </div>
        </div>
    </ion-list>
    <ion-infinite-scroll [enabled]="enabled" threshold="100px" (ionInfinite)="$event.waitFor(doInfinite($event))">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>
