page-session-detail {
  ion-header {
    .header-container {
      height: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      &>span {
        position: absolute;
        left: 0;
        width: 50px;
        height: 100%;
        background: url(../assets/img/p2p/back_black.svg) no-repeat center;
        background-size: 60%;
      }
      &>div {
        //flex: 1;
        align-self: center;
        width: 150px;
        height: 65%;
      }
    }
  }
}
