page-msgnotice {
    .heartColor {
        color: #E78170;
    }
    .contentText {
        color: #484848;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }
    .timeText {
        color: #9D9D9D;
        font-size: 12px;
    }
    .label-ios {
        margin: 0;
    }
    .label-md {
        margin: 0;
    }
}
