page-hotlist {
    .slidersWrap {
        height: 30%;
    }
    ion-tabs {
        height: 100%;
        // top: 30%;
    }
    .tabs-md .tabbar {
        background: #fff;
    }
    .tabs-md .tab-button[aria-selected=true] {
        color: #A3A3A3;
        border-bottom: 2px solid #CACACA;
    }
    .tab-button-text{
        font-size: 14px!important;
    }
}
