page-diaryarticle {
    .text-input-md{
        margin:8px 8px!important;
    }
    .item-md.item-block .item-inner{
        border-bottom: 0!important;
    }
    .back-button{
        display: block!important;
    }
}
