<ion-header>
    <ion-navbar>
        <ion-title>发布笔记</ion-title>
        <!-- <ion-buttons end>
            <button ion-button clear (click)="saveDraft()">
                存草稿
            </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>
<ion-content>
    <form #targetForm="ngForm" novalidate>
        <ion-list>
            <ion-item>
                <ion-input [(ngModel)]="diary.title" placeholder="添加标题" maxlength="30" name="title" type="text" #title="ngModel" spellcheck="false" autocapitalize="off" required>
                </ion-input>
                <span ion-text item-end color="primary">{{30 - (diary.title?.length > 30 ? 30 : diary.title?.length)}}</span>
            </ion-item>
            <div ion-text *ngIf="title.invalid && submitted === true" color="danger" padding-left>
                <div *ngIf="title.errors.required">
                    请添加标题
                </div>
                <div *ngIf="title.errors.maxlength">
                    标题最多30个字
                </div>
            </div>
            <ion-item>
                <ion-textarea class="diary-content" [(ngModel)]="diary.content" placeholder="说说你的心得吧~" name="content" type="text" #content="ngModel" required></ion-textarea>
            </ion-item>
            <p ion-text [hidden]="content.valid || submitted == false" color="danger" padding-left>
                笔记内容必填
            </p>
        </ion-list>
        <ion-grid>
            <ion-row>
                <ion-col col-4 class="big-box" *ngFor="let item of diary?.attachments">
                    <ion-thumbnail item-start class="">
                        <div class="content">
                            <img class="image-box" [ngStyle]="{'background-image': 'url(' + item?.url + ')'}" *ngIf="item?.url">
                            <div *ngIf="!item?.url" class="avatar">
                                <img src="../../assets/img/appicon.png" />
                            </div>
                        </div>
                    </ion-thumbnail>
                </ion-col>
                <ion-col col-4 class="big-box">
                    <div class="content">
                        <button ion-button icon-only block clear class="getPicButton" (click)="getPics()">
                            <ion-icon name="md-add"></ion-icon>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-row responsive-sm>
            <ion-col>
                <button ion-button block (click)="onPublishDiary(targetForm)">发布
                    <ion-icon style="margin-left: 5px" name="md-arrow-forward"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
