.singup-agree {
    display: block;
    text-align: center;
    font-size: small;
    color: #999999;
    width: 100%;
    clear: both;
    padding: 10px;
    span {
        color: blue;
    }
}

.gender {
    .none {
        color: black;
    }
}
