page-msgcollectionall {
    .label-ios {
        margin: 0;
    }
    .label-md {
        margin: 0;
    }
    .contentImg {
        width: 80px;
        height: 80px;
    }
    .contentTitle {
        color: #3E91C4;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }
    .contentText {
        color: #7F7F7F;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }
    .timeText {
        color: #9D9D9D;
        text-align: left;
        font-size: 12px;
    }
}
