<ion-header>
    <ion-navbar>
        <ion-title>选择标签</ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="goDiaryPublish()" style="color: #F29292;font-size: 16px;">
                完成
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div style="margin-top: 10px;">
        <p class="title">一级标签（多选）</p>
        <div style="margin-top: 15px;">
            <span class="mymark" [ngClass]="{'selectedmark': item.selected }" *ngFor="let item of type1" (click)="selectTag1(item.code)">{{item.name}}</span>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <p class="title">二级标签（多选）</p>
        <div style="margin-top: 15px;">
            <span class="canselectmark canselectmarkselected" [ngClass]="{'canselectmarkselected': item.selected }" *ngFor="let item of currentType2" (click)="selectTag2(item.code)">{{item.name}}</span>
        </div>
    </div>
</ion-content>
