page-notice {

  .notice-list {

    ion-item {
      padding-left: 0 !important;
      border-bottom: 0.55px solid #eee;
      ion-avatar {
        padding-left: 16px;
      }
      .item-inner {
        border-bottom: none !important;
      }
      &:last-child {
        border-bottom: 0.55px solid #eee !important;
      }
      ion-avatar {
        button {
          width: 50px;
          padding: 0;
          ion-icon {
            margin: auto !important;
          }
        }
      }
      .arrow {
        color: #ccc;
      }
    }
  }

}
